body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background: white;
  color: #333;
}

.quiz-container {
  max-width: 700px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.intro-screen img.intro-image {
  max-width: 100%;
  margin-bottom: 1.5rem;
}

button {
  font-family: inherit;
}

button,
.answer-button {
  border: 2px solid #00D397;
  font-size: 1rem;
  padding: 1rem;
  margin: 0.25rem 0;
  border-radius: 10px;
  width: 100%;
  max-width: 500px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  background-color: white;
  color: #333;
}

.answer-button {
  background-color: white;
  color: #333;
  border: 2px solid #00D397;
  text-align: center;
  display: block;
}

.answer-button:hover,
button:hover {
  background-color: #eafff6;
  color: #00D397;
  transform: translateY(-2px);
}

.question-screen p {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
}


.intro-screen h1,
.result-screen h2,
.result-screen h3,
.question-screen h1 {
  color: #00D397;
}

.options {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

p {
  font-size: 1.1rem;
  line-height: 1.5;
}

.result-image {
  max-width: 600px;
  width: 100%;
  margin: 1rem 0;
}

.progress-bar-wrapper {
  width: 100%;
  background-color: #eee;
  height: 10px;
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 1rem;
}

.progress-bar {
  height: 100%;
  background-color: #00D397;
  transition: width 0.3s ease;
}